* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.navbar a {
    color: aliceblue;
}

.navbar a:hover {
    background-color: #cc0000;
    color: #fff;

}

.links {
    text-decoration: none;
    color: #fff;

}

.navbar-toggler-icon {
    background-color: #fff;
}

.redText {
    color: #cc0000;
}

.link-button {
    background-color: #cc0000;
    border-radius: 25px;
    padding-inline: 20px;
    margin-inline: 20px;
    border: none;
    margin: 10%;
}

.navbar li {
    padding-inline: 10px;
}

.animated-div {

    animation: moveRight 2s infinite alternate;

}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(475px);

    }
}

@media (max-width: 768px) {

    /* Disabled animation on small screens */
    .animated-div {
        animation: none;
    }
}



@media (max-width: 576px) {

    .header__right {
        margin-left: 20px;
    }
}

.cards {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.cards:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.15s;
    border-left: 8px solid #cc0000;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


@keyframes example {
    0% {
        border-left: 2px solid #ffffff;
    }

    25% {
        border-left: 3px solid #ffe6e6;
    }

    50% {
        border-left: 4px solid #ff8080;
    }

    100% {
        border-left: 5px solid #ff0000;
    }
}

.car-img {
    height: 170px;
}

.car-info {
    height: 100px;
}

.cards h3, .testimonials h2{
    font-size: 1.4rem;
}


/* ----------footer--------------- */

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa-brands {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
    top: 90%;
    left: -110%;
}

.social-btns .btn .fa-brands {
    transform: scale(0.8);
}

.social-btns .btn.facebook:before {
    background-color: #cc0000;
}

.social-btns .btn.facebook .fa-brands {
    color: #3b5998;
}

.social-btns .btn.twitter:before {
    background-color: #cc0000;
}

.social-btns .btn.twitter .fa-brands {
    color: #3cf;
}

.social-btns .btn.dribbble:before {
    background-color: #cc0000;
}

.social-btns .btn.dribbble .fa-brands {
    color: #482ce9;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}

.social-btns .btn:focus .fa-brands,
.social-btns .btn:hover .fa-brands {
    color: #fff;
    transform: scale(1);
}

.social-btns {
    height: 70px;
    margin: auto;
    font-size: 0;
    text-align: center;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-btns .btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
    align-items: center;
}

.social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
}

.social-btns .btn .fa-brands {
    font-size: 38px;
    align-self: center;
}

.footer__links a {
    color: whitesmoke;
    margin-inline: 20px;
}